name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: DotNet Publish Web Service
      run: dotnet publish GitHubWebhook/GitHubWebhook.Service/GitHubWebhook.Service.csproj --configuration Release --output ${{ github.workspace }}/service
    - name: Upload web service build artifacts back to GitHub
      uses: actions/upload-artifact@master
      with:
        name: service
        path: ${{ github.workspace }}/service    
